@model Saqia.Models.Tank

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerUnit)

            <h4>المناطق المغطاة</h4>

            @if (Model.TankAreas != null && Model.TankAreas.Any())
            {
                <ul>
                    @foreach (var ta in Model.TankAreas)
                    {
                        <li>@ta.Area?.Name</li>
                    }
                </ul>
            }
            else
            {
                <p>لا توجد مناطق مرتبطة بهذا الخزان.</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
